html.body{
    height:100%;
}
body{
    background:lightskyblue;
    text-align:center;
    margin-top:400px;
    padding:0;
}
button{
    height:60px;
    width:200px;
    background:lemonchiffon;
}
.save{
    position:relative;
    bottom:70px;
    left:125px;
    
}
.SP{
    position:relative;
    right:79px;
}